# Base Server Ignore
DayZServer/addons/**
DayZServer/battleye/**
DayZServer/bliss/**
DayZServer/dta/**
DayZServer/mpmissions/dayzOffline.enoch/**
DayZServer/mpmissions/dayzOffline.chernarusplus/**
DayZServer/mpmissions/dayzOffline.chernarusplus/storage_1/**

#Unused File Ignore
*.gproj
*.dll