# Base Server Ignore
DayZServer/addons/**
DayZServer/battleye/**
DayZServer/bliss/**
DayZServer/dta/**
DayZServer/logs/**
DayZServer/appcache/**

DayZServer/mpmissions/dayzOffline.enoch/**
DayZServer/mpmissions/dayzOffline.chernarusplus/**
DayZServer/mpmissions/dayzOffline.chernarusplus/storage_1/**

DayZServer/config/BattlEye/**
DayZServer/config/DataCache/**
#Unused File Ignore
*.gproj
*.dll
*.RPT
*.mdmp
*.ADM
*.log
*.DayZProfile
*.map
*.pbo

credentials.txt